*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --aqua: #00CCCC;
  --golden: #F0E34D;
  --goldenstrong: #EFD053;
  --backgr-blue: #253661;
  --purple: #9C1CF7;
  --bluesea: #0F88EB;
  --black: #000000;
  --white: #ffffff;
  --white-grey: #f5f5f5;
  --red: #FF0000;
  --black-semi: rgba(0, 0, 0, 0.6);
  --black-80: rgba(0, 0, 0, 0.8);
  --grey-inter: #878895;
  --font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;

}

body {
  background-color: var(--backgr-blue);
  background-image: url("../img/body.webp");
  display: flex;
  font-family: sans-serif;
  margin: 0;
  flex-direction: column;
}

ul,
a {
  list-style-type: none;
  /* display: flex; */
  text-decoration: none;
  color: var(--white);
}

header {
  display: flex;
  flex-direction: column;
}

/* ///////////..utility classes../////////// */

.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}


/*-----------------------------------*\
  #POLICE
\*-----------------------------------*/
h1 {
  font-family: var(--font-family);
  color: var(--white);
  text-align: center;
  font-size: 3rem;

}

.h1__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  z-index: 1;
}

h2 {
  font-size: 1.2rem;
  color: var(--white);
}

h3 {
  font-size: 1.75rem;
  color: var(--white);
}

p {
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--white);
  text-align: center;
}

.p-max {
  font-size: 3rem;
  text-align: center;
}

.police-top {
  margin-top: 2rem;
}

.texte-position {
  text-align: center;
  margin: 1rem;
  padding: 1rem;
  line-height: 3rem;
}



.textebackground {
  background-color: var(--black-semi);
  height: 100%;
  margin-top: 2rem;
}

/*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/
.video-pos {
  position: relative;
  top: -200px;
  left: 0;
}

iframe {
  width: 100%;
  height: auto;
}

.video-responsive { 
  overflow:hidden; 
  padding-bottom:56.25%; 
  position:relative; 
  height:0;
  margin: 5.5rem;
  }
  
  .video-responsive iframe {
  left:0; 
  top:0; 
  height:100%;
  width:100%;
  position:absolute;
  }
/*-----------------------------------*\
  #NAV
\*-----------------------------------*/

/* Cache la case à cocher et les lignes du hamburger */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

/* Styles de base de la barre de navigation */
.navbar {
  background-color: var(--black-semi);
  height: 4rem;
  margin: 0;
  z-index: 10;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Styles pour les écrans larges */
@media screen and (min-width: 768px) {
  .navbar {
    background-size: 100%;
    background-position: center;
    background-image: url("../img/znav-bg.webp");
    background-repeat: no-repeat;
    background-position: 50% 80%;
  }

  p {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 2rem;
  }

  /*-----------------------------------*\
  #DECO
\*-----------------------------------*/
  .title__margin {
    margin: 2rem;
    /* margin-top: 40rem; */
  }

}

/* Conteneur de la barre de navigation */
.navbar-container {
  display: flex;
  justify-content: center;
  height: 4rem;
  align-items: center;
}

/* Styles pour l'arrière-plan */
.navbar-container__back {
  background-image: url("../img/backathena.webp");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 50% 10%; */
  height: 20rem;
  margin: 0;
  z-index: 0;
}

/* Styles pour les éléments du menu */
.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  position: relative;
  /* Ajout d'une position relative pour les sous-menus */
}

.menu-items a {
  text-decoration: none;
  color: var(--aqua);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
  padding-bottom: 1rem;
}

.menu-items a:hover {
  color: var(--purple);
  transition: color 0.3s ease-in-out;
  background-image: url("../img/znav-on.webp");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding-bottom: 1rem;
}

/* Styles pour les sous-menus */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -40;
  background-color: var(--black-semi);
  padding: 2rem;
  z-index: 100;
}

.menu-items li:hover .submenu {
  display: block;
}

.menu__choose {
  display: flex;
  flex-direction: column;
}

.menu__choose--select a {
  color: var(--white);
}

.logo {
  order: 1;
  font-size: 2.3rem;
  margin-bottom: 0.5rem;
}

/* ......../ media query /.......... */

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 4rem;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 2rem;
    width: 1.8rem;
    top: 2rem;
    right: .6rem;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 23px;
    width: 35px;
    position: absolute;
    top: 1.3rem;
    right: .6rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--goldenstrong);

  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    background: var(--backgr-blue);
    height: 50rem;/*Higth of menu*/
    max-width: 400px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -40px;
    /* padding-left: 50px; */
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(35deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .back-hed {
    background-image: url("../img/backathena.webp");
    background-repeat: no-repeat;
    height: 60rem;
    background-size: cover;
    background-position: center 5%;
  }
  
  
.video-responsive { 
  overflow:hidden; 
  padding-bottom:56.25%; 
  position:relative; 
  height:0;
  margin: 1.6rem;
  }
  
  .video-responsive iframe {
  left:0; 
  top:0; 
  height:100%;
  width:100%;
  position:absolute;
  }

}

/*-----------------------------------*\
  #MENU DIVIN
\*-----------------------------------*/

.faction {
  height: 60vh;
  aspect-ratio: 1/1.2;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.faction__card {
  display: flex;
  justify-content: center;
  background-color: var(--black-semi);
}

.faction__ath {
  height: 30rem;
  width: 25rem;
  background-image: url("../img/athena.webp");
  background-size: 100%;
  background-position: bottom;
}


.faction__ath--txt {
  font-size: 4rem;
  text-align: inherit;
}

.athena {
  background-image: url("../img/athena.webp");
  background-size: 100%;
  background-position: bottom;
  transition: transform .5s;
  /* Animation */
}

.athena:hover {
  /* background-color: var(--goldenstrong); */
  color: var(--goldenstrong);
  transform: scale(1.2);
}

.faction__pos {
  height: 30rem;
  width: 25rem;
  background-image: url("../img/poseidon.webp");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.poseidon {
  background-image: url("../img/poseidon.webp");
  background-size: 110%;
  background-position: bottom;
  transition: transform .5s;
  /* Animation */
}

.poseidon:hover {
  /* background-color: var(--bluesea); */
  color: var(--white);
  transform: scale(1.2);
}

.faction__had {
  height: 30rem;
  width: 25rem;
  background-image: url("../img/hades.webp");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.hades {
  background-image: url("../img/hades.webp");
  background-size: 100%;
  background-position: bottom;
  transition: transform .5s;
  /* Animation */
}

.hades:hover {
  /* background-color: var(--purple); */
  color: var(--white);
  transform: scale(1.2);
}


/*-----------------------------------*\
  #SPECIAL CLASS
\*-----------------------------------*/
.divinite__align {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/*SECOND PAGE*/
.armorstyle {
  font-size: 2rem;
  color: var(--white);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  margin-right: 3rem;
}

.armorstyle__lst {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/backathena.webp");
  border: 4px solid var(--white);
  height: 10rem;
  padding-left: 2rem;
}

.armorstyle__lst--card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-semi);
  border: 4px solid var(--white);
  width: 10rem;
}

.armorstyle__lst--card:focus,
.armorstyle__lst--card:hover {
  color: var(--goldenstrong);
  background-image: url("../img/chooseA.webp");
  background-repeat: no-repeat;
  background-size: cover;

}

.armorstyle__lst--pos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/poseidon_royaume.webp");
  border: 4px solid var(--white);
  height: 10rem;
  padding-left: 2rem;
}

.armorstyle__lst--card--pos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-semi);
  border: 4px solid var(--white);
  width: 10rem;
}

.armorstyle__lst--card--pos:focus,
.armorstyle__lst--card--pos:hover {
  color: var(--goldenstrong);
  background-image: url("../img/poseidon437.webp");
  background-repeat: no-repeat;
  background-size: cover;

}

.armorstyle__lst--had {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/lesenfers.webp");
  border: 4px solid var(--white);
  height: 10rem;
  padding-left: 2rem;
}

.armorstyle__lst--card--had {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-semi);
  border: 4px solid var(--white);
  width: 10rem;
}

.armorstyle__lst--card--had:focus,
.armorstyle__lst--card--had:hover {
  color: var(--goldenstrong);
  background-image: url("../img/hadesmin.webp");
  background-repeat: no-repeat;
  background-size: cover;

}

@media screen and (min-width: 769px) {
  .armorstyle {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    font-size: 2rem;
    color: var(--white);
    margin: 4rem 0;
    padding-left: 7rem;
  }

  .armorstyle__lst {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black-semi);
    border: 4px solid var(--white);
    width: 30vw;
    padding-left: 2rem;
  }

  .armorstyle__lst--card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-semi);
    border: 4px solid var(--white);
    width: 10rem;
  }

  .divinite {
    margin: 4rem;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 480px;
    width: 90%;
    margin: auto;
  }

  .navbar .menu-items li {
    margin-bottom: 2.5rem;
    font-size: 1.8rem;
    font-weight: 500;
  }

  a {
    font-size: 2rem;
  }

  .p-max {
    font-size: 2rem;
  }

  .faction {
    height: 40vh;
    aspect-ratio: 1/1.2;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }

  /*-----------------------------------*\
  #VIDEO
\*-----------------------------------*/
  .video-pos {
    visibility: hidden;
  }
  .video-responsive { 
    overflow:hidden; 
    padding-bottom:56.25%; 
    position:relative; 
    height:0;
    margin: 2rem 1.2rem;
    }
    
    .video-responsive iframe {
    left:0; 
    top:0; 
    height:100%;
    width:100%;
    position:absolute;
    }

}

@media (min-width: 769px) and (max-width: 1200px) {
  .img-container h3 {
    font-size: 1.5rem;
  }

  .img-container .btn {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (max-height: 500px) {
  .showcase-area {
    height: 50vmax;
  }
}


/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/
.footer-bottom {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding-block: 15px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem;
  font-size: 1rem;
}

.copyright-link {
  color: var(--white);
}

.footer-bottom-list {
  display: flex;
  justify-content: end;
  gap: 15px;
  margin-block-start: 10px;

}

.footer-bottom-link {
  padding-inline-start: 20px;
}

.footer-bottom-link::before {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 10px;
  height: 10px;
  background-color: var(--aqua);
  border-radius: 50%;
}

.footer-bottom-link:is(:hover, :focus) {
  color: var(--aqua);
}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has-before::before,
.has-after::after {
  content: "";
  position: absolute;
}

/*-----------------------------------*\
#CHOOSE PAGE
\*-----------------------------------*/
.athena-choose {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  background-color: var(--black-semi);
  line-height: 3rem;
}

.athena-choose__img {
  padding: 4rem;
}

.athena-choose__txt {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.athena-choose__txt--lst {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  font-family: var(--font-family);
  color: var(--white);
  text-align: left;
  list-style: disc;
  padding-right: 2rem;

}

.athena-choose__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 769px) {

  .athena-choose__img {
    width: 30vw;
    padding: 4rem
  }
}

/*-----------------------------------*\
#GALERIE
\*-----------------------------------*/

@keyframes heartbeat {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.slider__title {
  margin: 2rem;
}

.slider-container {
  position: relative;
  margin: 0 auto;
  height: 600px;
}

@media screen and (min-width: 768px) {
  .slider-container {
    position: relative;
    margin: 0 auto;
    height: 37.5rem;
    aspect-ratio: 1/2;
  }

}

.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 70%;
  height: 60%;
  transform: translate(-50%, -50%);
}

.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: z-index 0ms 250ms;
}

/*animation img*/
.slider-container .slider-content .slider-single .slider-single-image {
  height: 100%;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0);
  /*background img*/
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transform: scale(1.2);
  opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-download:hover,
.slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}

/*Name in bottom img*/
.slider-container .slider-content .slider-single .slider-single-title {
  display: block;
  float: left;
  font-size: 1.5rem;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--white);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  opacity: 0;
  margin-top: 3rem;
}

.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  transform: translateX(-50%) scale(0);
}

.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}

.slider-container .slider-content .slider-single.preactive .slider-single-image {
  opacity: 0.3;
  transform: translateX(-25%) scale(0.8);
}

.slider-container .slider-content .slider-single.preactive .slider-single-download {
  transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-title {
  transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}

.slider-container .slider-content .slider-single.proactive .slider-single-image {
  opacity: 0.3;
  transform: translateX(25%) scale(0.8);
}

.slider-container .slider-content .slider-single.proactive .slider-single-download {
  transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactive .slider-single-title {
  transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  transform: translateX(50%) scale(0);
}

.slider-container .slider-content .slider-single.active {
  z-index: 2;
}

.slider-container .slider-content .slider-single.active .slider-single-image {
  opacity: 1;
  transform: translateX(0%) scale(1.2);
}

.slider-container .slider-content .slider-single.active .slider-single-download {
  opacity: 1;
  transition-delay: 100ms;
  transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-title {
  opacity: 1;
  transition-delay: 200ms;
  transform: translateX(0px);
}

.slider-container .not-visible {
  display: none !important;
}

/*Arrow direction L*/
.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 85%;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5rem 1rem;
  /* border: 2px solid var(--goldenstrong); */
  background-image: url("../img/arrowLeft.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
}

/*Arrow dirction r*/
.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 85%;
  top: 50%;
  transform: translateY(-50%);
  padding: 1.5rem 1rem;
  /* border: 2px solid var(--goldenstrong); */
  background-image: url("../img/arrowRigth.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
}

/*REGITER*/
.item-register {
  margin: 2rem;
}

.login_cont {
  margin: 1rem;
}

.login_cont .input_signin {
  display: none;
}

.content {
  display: flex;
  justify-content: center;
  margin: 1rem;
}


.login_cont .active {
  display: block;
}

.login_nav {
  width: 300px;
  height: 45px;
  text-align: center;
  margin-bottom: 60px;
}

.hint {
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 15px;
  visibility: hidden;
}

.right {
  border-color: #1dc091;
}

.hint_right {
  color: #1dc091;
}

.wrong {
  border-color: #EA5A70;
}

.hint_wrong {
  color: #EA5A70;
}

.button__register {
  background-color: var(--bluesea);
  color: var(--white);
  width: 8.75rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
}

.button__register:hover,
.button__register:focus {
  background-color: var(--purple);
  border-color: var(--goldenstrong);
  color: var(--aqua);
}

.input_form {
  height: 2.5rem;
  background-color: var(--white);
  color: #333;
  font-weight: 300;
  line-height: 2.5rem;
  width: 20rem;
  border-radius: 2rem;
  border: none;
  padding: 1rem;
}

.Password-forget {
  height: 2rem;
  background-color: none;
  font-size: 1rem;
}

.Password-forget:hover,
.Password-forget:hover {
  color: var(--purple);
}

/* PAGE */

.page-pics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding-bottom: 2rem;
}

/* PICTURES */

.pictures {
  position: relative;
  display: flex;
  flex-direction: column;
}

.pictures__ico {
  height: 3rem;
  aspect-ratio: 1/1;
  margin: 1rem;
}

.pictures-button__rigth {
  position: absolute;
  top: calc(50% - 1.5rem);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--purple);
  border-color: var(--purple);
  background-image: url("../img/arrowRigth.svg");
  background-repeat: no-repeat;
  background-size: 1.6rem;
}

.pictures-button__left {
  position: absolute;
  top: calc(50% - 1.5rem);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--purple);
  border-color: var(--purple);
  background-image: url("../img/arrowLeft.svg");
  background-repeat: no-repeat;
  background-size: 1.6rem;
}


.pictures-prev {
  left: 1rem;
}

.pictures-next {
  right: 1rem;
}

/* .pictures-img {
  max-width: 100%;
} */

@media screen and (min-width: 768px) {
  .pictures {
    max-width: 600px;
  }

  .pictures-handler,
  .similar__align,
  .btn-carousel {
    display: none;
  }

  .pictures-img {
    /* width: 100%;
    aspect-ratio: 2/1; */
    border: 2px solid black;
  }
}

/* THUMBS */

.thumbs {
  display: none;
}

@media screen and (min-width: 768px) {
  /* .thumbs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  } */

  .thumbs-itm {
    font-size: 0;
  }

  .thumbs-img {
    width: 100%;
    border: 2px solid black;
  }
}


/*-----------------------------------*\
#CALENDAR
\*-----------------------------------*/

.calendar-container {
  /* position: relative; */
  width: 75rem;
  min-height: 54rem;
  margin: 1.25rem;
  padding: 5px;
  color: #fff;
  display: flex;

  border-radius: 10px;
  background-color: var(--black-semi);
}

.calendar-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar_left {
  width: 60%;
  padding: 1.25rem;
}

.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}

/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: .75rem;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d4d6d7;
  transform: translateY(-50%);
}

.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}

.calendar .month {
  width: 100%;
  height: 9.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.125rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.angle-left {
  padding: 1.5rem 1rem;
  background-image: url("../img/arrowLeft.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
}

.angle-right {
  padding: 1.5rem 1rem;
  background-image: url("../img/arrowRigth.svg");
  background-repeat: no-repeat;
  background-size: 2rem;
}

.angle-left:hover {
  background-image: url("../img/arrowLeftHover.svg");
}

.angle-right:hover {
  background-image: url("../img/arrowRigthHover.svg");
}

.calendar .month,
.calendar .month {
  color: var(--primary-clr);
}

.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.calendar .days .day {
  width: 14.28%;
  height: 5.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid var(--white-grey);
}

.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid var(--white-grey);
}

.calendar .days .day:nth-child(7n) {
  border-right: 2px solid var(--white-grey);
}

.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid var(--white-grey);
}

.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid var(--white-grey);
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--backgr-blue);
}

.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}

.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--purple);
}

.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px grey;
}

.calendar .days .today {
  font-size: 2rem;
}

.calendar .days .event {
  position: relative;
}

.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: .375rem;
  border-radius: 1.875rem;
  transform: translateX(-50%);
  background-color: var(--purple);
}

.calendar .days .day:hover.event::after {
  background-color: #fff;
}

.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}

.calendar .days .active.event {
  padding-bottom: .625rem;
}

.calendar .goto-today {
  width: 100%;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--purple);
}

.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--purple);
}

.calendar .goto-today .goto input {
  width: 100%;
  height: 1.875rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 1.25rem;
  color: var(--purple);
  border-radius: 5px;
}

.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--purple);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}

.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--purple);
}

.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--bluesea);
  border-radius: 0;
}

.calendar-container .calendar_right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 1.25rem 0;
}

.calendar_right .today-date {
  width: 100%;
  height: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5rem;
  padding-left: 4.375rem;
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
  text-transform: capitalize;
}

.calendar_right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}

.calendar_right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
}

.events {
  width: 100%;
  height: 100%;
  max-height: 37.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}

.events .event {
  position: relative;
  width: 95%;
  min-height: 4.375rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 1.25rem;
  padding-left: 3.125rem;
  color: #fff;
  background: linear-gradient(90deg, #0F88EB, transparent);
  cursor: pointer;
}

/* even event */
.events .event:nth-child(even) {
  background: transparent;
}

.events .event:hover {
  background: linear-gradient(90deg, #9C1CF7, transparent);
}

.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 1.25rem;
}

.events .event i {
  color: var(--purple);
  font-size: 0.5rem;
}

.events .event:hover i {
  color: var(--white);
}

.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--grey-inter);
  margin-left: 15px;
  pointer-events: none;
}

.events .event:hover .event-time {
  color: var(--white);
}

/* add tick in event after */
/* .events .event::after {
  content: "X";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  color: red;
  transform: translateY(-50%);
} */

/* .events .event:hover::after {
  display: flex;
} */

.add-event {
  /* position: absolute;
  bottom: 200px;
  right: 1.875rem; */
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  font-size: 1rem;
  color: var(--purple);
  border: 2px solid var(--aqua);
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.add-event:hover {
  opacity: 1;
}

.add-event i {
  pointer-events: none;
}

.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grey-inter);
}

.add-event-wrapper {
  position: absolute;
  bottom: 6.25rem;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--white);
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}

.add-event-wrapper.active {
  max-height: 18.75rem;
}

.add-event-header {
  width: 100%;
  height: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
  color: var(--bluesea);
  border-bottom: 1px solid var(--white);
}

.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}

.add-event-header .close:hover {
  color: var(--golden);
}

.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}

.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 1.25rem;
}

.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--white);
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--bluesea);
}

.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}

.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--bluesea);
}

.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}

.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.add-event-footer .add-event-btn {
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--goldenstrong);
}

.add-event-footer .add-event-btn:hover {
  background-color: var(--goldenstrong);
  color: var(--purple);
}

.btn-add-event {
  border-radius: 2rem;
  height: 2.5rem;
  width: 12rem;
  padding: .5rem;
  background-color: var(--purple);
  border-color: var(--bluesea);
  color: var(--white);
  font-size: 1rem;
}

/* media queries */
/*smartphone*/
@media screen and (max-width: 1000px) {
  .calendar-body {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .calendar-container {
    min-height: 50vh;
    flex-direction: column;
    border-radius: 0;
  }

  .calendar-container .calendar_left {
    width: 90vw;
    height: 80%;
    padding: 1.25rem 0;
  }

  .calendar-container .calendar_right {
    width: 80%;
    height: 80%;
    padding: 1.25rem 0;
  }

  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: .75rem;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }

  .calendar::before {
    width: 94%;
    top: calc(100% + .75rem);
  }

  .events {
    padding-bottom: 21rem;
  }

  .add-event-wrapper {
    bottom: 6.25rem;
  }

  .add-event {
    position: absolute;
    top: 87%;
    left: 5%;
  }

  .btn-add-event {
    border-radius: 2rem;
    height: 2.5rem;
    width: 12rem;
    padding: .5rem;
    background-color: var(--purple);
    border-color: var(--bluesea);
    color: var(--white);
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .calendar .month {
    height: 4.75rem;
  }

  .calendar-container .calendar_left {
    width: 90vw;
    height: 80%;
    padding: 1.25rem 0;
  }

  .calendar .weekdays {
    height: 3.125rem;
  }

  .calendar .days .day {
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }

  .calendar_right .today-date {
    padding: 1.25rem;
  }

  .add-event {
    position: absolute;
    top: 67%;
    left: 5%;
  }

  .add-event-wrapper {
    position: absolute;
    left: 62%;
    width: 18.75rem;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--white);
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }

  .add-event-wrapper.active {
    max-height: 18.75rem;
  }

  .btn-add-event {
    border-radius: 2rem;
    height: 2.5rem;
    width: 12rem;
    padding: .5rem;
    background-color: var(--purple);
    border-color: var(--bluesea);
    color: var(--white);
    font-size: 1rem;
  }
}

.form {
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  font-size: 2rem;
}

.add-plus:before {
  content: "\2b";
}

/**/
.carousel-container {
  width: 90%;
  margin: 2rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--lx-gap);

  .carousel {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    overflow: hidden;

    .item {
      opacity: 0;
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.5s ease-in-out;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .caption {
        width: 100%;
        padding: var(--lx-space-01);
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        text-align: center;
        font-size: 12px;
        background-color: rgba(0, 0, 0, 0.5);
      }

      &.active {
        opacity: 1;
        display: block;
      }
    }
  }


  .arrow-button {
    display: flex;
    justify-content: center;
    color: var(--goldenstrong);
    background-color: var(--purple);
    border-radius: 2rem;
    border-color: var(--goldenstrong);
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
    width: 3rem;
    height: 3rem;
  }

  .arrow-button>.arrow {
    position: relative;
    transform: rotate(-45deg);
    margin: 0 6px;
    transition: all .3s ease;
  }

  .arrow-button>.arrow::before {
    display: block;
    background-color: currentColor;
    width: 3px;
    transform-origin: bottom right;
    height: 2px;
    position: absolute;
    opacity: 0;
    bottom: calc(-2px / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
  }

  .arrow-button:hover>.arrow {
    transform: rotate(-45deg) translate(4px, 4px);
    border-color: text-hover-color;
  }

  .arrow-button:hover>.arrow::before {
    opacity: 1;
    width: 8px;
  }

  .arrow-button:hover {
    background-color: var(--goldenstrong);
    border-color: var(--purple);
    color: var(--purple);
  }

  .prev {
    left: -5%;
  }

  .next {
    right: -5%;
  }

  .arrow-button--position {
    display: flex;
    justify-content: space-between;
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;

    .dot {
      cursor: pointer;
      height: 10px;
      width: 10px;
      background-color: #242421;
      transition: background-color 0.2s ease;

      &.active,
      &:hover {
        background-color: #ffffe6;
      }
    }
  }
}
